{% extends 'base-arrow.html.twig' %}

{% block title %}Mon site perso | Blog {% endblock %}
{% block body %}
    <!-- Entête du site -->
    <section class="container-fluid scrolling" id="blog-article-header"></section>

    <!-- Bandeau de couleur -->
    <section class="bandeau container-fluid"></section>

    <!-- Page Content -->
    <section id="article-content" class="white">
        <div class="container">
            <div class="row">
                <!-- Blog Post Content Column -->
                <div class="col-md-7 col-md-offset-1">
                    <!-- Blog Post -->

                    <!-- Title -->
                    <h1 class="blogtitre">{{ post.title }}</h1>
                    <hr>

                    <!-- Date/Time -->
                    <p>
                        <span class="glyphicon glyphicon-time"></span>{{ post.publicationDate|localizeddate('full','none') }}
                    </p>

                    <!-- Post Content -->
                    <p class="lead">{{ post.content|raw }}</p>

                    <hr>
                    <!-- Blog Comments -->
                    {% if post.openComment %}
                        <!-- Comments Form -->
                        <div class="well" id="commentForm">
                            <h4>Envie de réagir à cet article ? Déposez un commentaire :</h4>
                            {{ form_start(formComment,{'action': path('article_blog',{'link': post.link,'theme': theme})}) }}
                            {{ form_widget(formComment) }}
                            <div class="g-recaptcha" data-sitekey="6Leb8woUAAAAAOFvm89MdvU9VGM25cIOA-tj7ROG"
                                 data-callback="enableBtn"></div>
                            <input type="submit" name="submit" value="Envoyer un commentaire" class="purple-button"
                                   id="btn_com"/>
                            {{ form_end(formComment) }}
                        </div>

                        <!-- Posted Comments -->
                        <!-- Comment -->
                        <section id="comment-zone">
                            {% for comment in comments %}
                                {% if comment.approved %}
                                    <h4>Ils ont commenté cette publication :</h4>
                                    <div class="media">
                                        <div class="media-body">
                                            <h5 class="media-heading">{{ comment.title }}
                                                <small>{{ comment.author }},
                                                    le {{ comment.date|date ('d/m/Y') }}</small>
                                            </h5>
                                            <p>{{ comment.content }}</p>
                                        </div>
                                    </div>

                                    {% if (comment.myAnswer != '') %}
                                        <div class="commentAnswer">
                                            <h5 class="media-heading">Réponse de Damien :</h5>
                                            <p>{{ comment.myAnswer }}</p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </section>
                    {% endif %}
                </div>

                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-3 blog-cat">

                    <!-- Blog Categories Well -->
                    <div class="well">
                        <h4>Catégories</h4>
                        <div class="row">
                            {% for category in categories %}
                                <div class="col-lg-12">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="{{ path('category_blog',{'slug': category.slug,'theme': theme }) }}">{{ category.categoryName }}</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- /.row -->
                    </div>

                    <!-- Side Widget Well -->
                    <div class="well">
                        <h4>Archives</h4>
                        {# Init var year #}
                        {% set year = '9999' %}
                        {# Loop for each post in archive #}
                        {% for post in archive %}
                        {# Test the current post year #}
                        {% if post.publicationDate|date('Y') < year %}
                        {# Test for close list not for the first time #}
                        {% if year != '9999' %}
                            </ul>
                        {% endif %}
                        <ul class="list-unstyled"> {{ post.publicationDate|date('Y') }}
                            {# the current post year become the test year #}
                            {% set year = post.publicationDate|date('Y') %}
                            {% endif %}
                            <li>
                                <a href="{{ path('article_blog',{ 'link': post.link,'theme': theme}) }}">{{ post.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>

            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
{% endblock %}
{% block javascripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="{{ asset('js/article-blog.js') }}"></script>
{% endblock %}
