{% extends 'base-arrow.html.twig' %}

{% block title %}Le Blog de DB| Les derniers posts{% endblock %}
{% block description %}Les derniers posts du Blog de DB{% endblock %}
{% block body %}

    <div class="col-md-8 offset-md-1">
        <div class="page-header-style"><h1>Les actus du <span>DB Blog</span></h1></div>
        {% if posts|length == 0 %}
            <h2>
                Aucun article pour l'instant
            </h2>
        {% else %}
            {% for post in posts %}
                <h2>
                    <a href="{{ path('article_blog',{ 'link': post.link, 'theme':theme}) }}">{{ post.title }}</a>
                </h2>

                <hr>
                <p>
                    <span class="glyphicon glyphicon-time"></span> {{ post.publicationDate|format_datetime('short', 'none') }}
                </p>

                {{ post.content|striptags|u.truncate(800)|raw }}
                        <p></p>
                        <a class="btn btn-primary"
                           href="{{ path('article_blog', { 'link': post.link, 'theme':theme}) }}">Lire
                            la
                            suite <span
                                    class="glyphicon glyphicon-chevron-right"></span></a>
                    {% endfor %}

                    <!-- Pager -->
                    {% set minPager = ((page-2) >=1) ? page-2: 1 %}
                    {% set maxPager = ((page+2) <= maxPage) ? page+2: maxPage %}
                    <div class="pagination">
                        <ul class="pagination">
                            <li class="page-item {% if page == 1 %} disabled {% endif %}">
                                {% if page == 1 %}
                                    <a class="page-link" href="#">
                                        Plus récent
                                    </a>
                                {% else %}
                                    <a class="page-link" href="{{ path('blog', {'page': page - 1, 'theme': theme}) }}">
                                        Plus récent
                                    </a>
                                {% endif %}
                            </li>
                            {% for i in minPager..maxPager %}
                                <li class="page-item {% if page == i %} active {% endif %}">
                                    <a class="page-link" {% if page == i %}href="#"{% else %}
                                       href="{{ path('blog', {'page': i, 'theme': theme}) }} {% endif %}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="page-item {% if page >= maxPage %} disabled {% endif %}">
                                {% if page >= maxPage %}
                                    <a class="page-link" href="#">
                                        Plus ancien
                                    </a>
                                {% else %}
                                    <a class="page-link" href="{{ path('blog', {'page': page + 1, 'theme': theme}) }}">
                                        Plus ancien
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                {% endif %}

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-2 blog-cat text-bg-secondary">

        <!-- Blog Categories Well -->
        <div class="well col-xs-12 col-sm-5 col-md-12">
            <h4>Catégories</h4>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        {% for category in categories %}
                            <li>
                                <a href="{{ path('category_blog',{'slug': category.slug, 'theme':theme }) }}">{{ category.categoryName }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>


        <!-- Side Widget Well -->
        <div class="well col-xs-12 col-sm-7 col-md-12" id="archives">
            <h4>Archives</h4>
            {# Init var year #}
            {% set year = '9999' %}
                    {# Loop for each post in archive #}
                    <ul class="list-unstyled">
                        {% for post in archive %}
                        {# Test the current post year #}
                        {% if post.publicationDate|date('Y') < year %}
                        {# Test for close list not for the first time #}
                        {% if year != '9999' %}
                    </ul>
                    <ul class="list-unstyled">
                        {# endif for close list not for the first time #}
                        {% endif %}

                        <p>{{ post.publicationDate|date('Y') }}</p>
                        {% set year = post.publicationDate|date('Y') %}
                        {# endif for year change #}
                        {% endif %}
                        <li>
                            <a href="{{ path('article_blog',{ 'link': post.link ,'theme':theme}) }}">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

    <!-- /.row -->
{% endblock %}
